#logoBar {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#siteLogo {
  width: 100%;
}
body {
  display: flex;
  background-color: rgb(249, 235, 237);
  color: rgb(27, 1, 84);
  font-family: monospace;
}

@media only screen and (max-width: 600px) {
  #logoBar {
    display: flex;
    width: 100%;
    height: 20vh;
    margin-bottom: 8vh;
    margin-top: 8vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #siteLogo {
    height: 80%;
    width: auto;
  }
  body {
    display: flex;
    background-color: rgb(249, 235, 237);
    color: rgb(27, 1, 84);
    font-family: monospace;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#staffGallery {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.galleryImage {
  width: 100%;
  height: auto;
}

.card {
  background-color: rgb(185, 208, 228);
  height: 30%;
  width: 20%;
  margin: 2.5%;
  padding: 2.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inside {
  margin: 3%;
  background-color: aliceblue;
  width: 100%;
  padding: 5%;
}
